/* regole di debug */
[class*="col-"]{
  min-height: 100px;
  border: solid black 1px;
}

/* regole generali */
.ms_text-white{
  color: white;
}




/************************ intestazione***********+ */

.navbar{
  background-color: white;
  border: none;
}


.navbar-brand img{
  max-width: 100px;
}


.navbar button{
  color: #4e9cfd;
  border-color: #4e9cfd;
}

/* *****jumbotron****** */

#jumbotron{
  background-image: url(../img/bg-home-hero-3.svg);
  background-size: cover;
}

#jumbo-left{
  padding: 100px;
}


#jumbo-right{
  background-color: white;
  margin: 50px;
  padding: 20px;
}

#get-started{
  color: #4e9cfd;
}

.form-control{
  border: none;
}

.btn-default{
  width: 100%;
  margin-bottom: 10px;
}

#button-psw{
  background-color: #4e9cfd;
}

/**************** corpo centrale************* */

/* prima sezione (loghi )*/

#section-loghi{
  background-color: #f3f5f9;
}

#titolo-sezloghi{
  padding-top: 30px;
  color: grey;
}

#loghi img{
  width: 100px;
  height: 77px;
}

#customer-stories{
  padding-top: 30px;
  font-size: 20px;
}

/* seconda sezione */
