/* regole di debug */
[class*="col-"]{
  /* min-height: 100px; */
  /* border: solid black 1px; */
}

/* regole generali */
.ms_text-white{
  color: white;
}

.ms_titolo-section{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.ms_titolo-section p{
  font-size: 20px;
}

.ms_padding{
  padding: 20px;
}



/************************ intestazione***********+ */

#barra-sopra .navbar{
  background-color: white;
  border: none;
}


#barra-sopra .navbar-brand img{
  max-width: 100px;
}


#barra-sopra .navbar button{
  color: #4e9cfd;
  border-color: #4e9cfd;
}

/* *****jumbotron****** */

#jumbotron{
  background-image: url(../img/bg-home-hero-3.svg);
  background-size: cover;
}

#jumbo-left{
  padding: 100px;
}


#jumbo-right{
  background-color: white;
  margin: 50px;
  padding: 20px;
}

#get-started{
  color: #4e9cfd;
}

#jumbo-right .form-control{
  border: none;
}

#jumbotron .btn-default{
  width: 100%;
  margin-bottom: 10px;
}

#button-psw{
  background-color: #4e9cfd;
}

/**************** corpo centrale************* */

/* prima sezione (loghi )*/

#section-loghi{
  background-color: #f3f5f9;
}

#titolo-sezloghi{
  padding-top: 30px;
  color: grey;
}

#loghi img{
  width: 100px;
  height: 77px;
}

#customer-stories{
  padding-top: 30px;
  font-size: 20px;
}

/* seconda sezione */

#deploy-left ul{
  padding: 20px 20px;
}

#deploy-left li{
  list-style: none;
  border-left: solid 1px lightgrey;
  padding: 10px;
}

#deploy-left a{
  font-size: 18px;
  color: grey;
}


/* terza sezione */
#designed{
  background-color: #f3f5f9;
}



/* auinta sezione */

#aroundworld{
  background-color: #003bb9;
}

#riga-tabella-world{
  padding: 20px;

}

#riga-tabella-world p{
  color: lightgrey;
}
#riga-tabella-world a{
  color: lightblue;
  text-decoration: underline;
}


/* sesta sezione */

#development-teams{
  background-color: #f3f5f9;
}


/* ultima sezione */

#create-account{
  background-color: #003bb9;
}

#create-account a{
  background-color: white;
  color: blue;
  border-radius: 10px;
  padding: 10px;
}


/************************footer********** */

#sezfooter{
  background-color: #031c4e;
}

#footer-left{
  padding: 20px;
}

#footer-left img{
  margin-bottom: 10px;
}
#footer-left p{
  line-height: 10px;
}

#footer-left span{
  color: lightgrey;
}

#footer-left li{
  display: inline-block;
  line-height: 30px;
  padding-right: 10px;
}

#footer-right{
  padding: 20px;
}

#footer-right ul{
  padding-inline-start: 0;
  list-style: none;
}

#footer-right li{
  line-height: 25px;
}
#footer-right li a{
  color: lightgrey;
}
